.tab {
  overflow: hidden;
  border: none;
    margin-bottom: 10px;
  
}

.tab button {
  width: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 50;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 30px;
}

.rbl{
    opacity: .6;
    background-color:#FA4700;
    color: #CDB7B7;
}
.emp{
    opacity: .6;
    background-color:#8C0000;
    color: black;
}

.rbl:hover {
  opacity: .9;
}
.rbl:active {
  opacity: .9;
}

.emp:hover {
  opacity: .9;
}
.tabcontent{
  background: red;
}
